{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
    EAEO
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p><img src="{{ picture.data.url }}"/> Logged in as <strong>{{ request.user }}</strong> | <a
                href="{% url 'main:logout' %}">Log out</a></p>
        <h2>Accounts managed by you</h2>
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th scope="col">Facebook account</th>
                <th scope="col">Instagram account</th>
                <th scope="col">Permissions</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts.data %}
                <tr>
                    <td><img
                            src="{{ account.picture.data.url }}"
                            class="img-thumbnail rounded-circle"
                    >
                        {{ account.name }}
                    </td>
                    <td>
                        <img
                                src="{{ account.instagram_business_account.profile_picture_url }}"
                                class="img-thumbnail rounded-circle"
                                style="max-width: 60px"
                        >
                        @{{ account.instagram_business_account.username }}
                    </td>
                    <td>
                        {% for task in account.tasks %}
                            {{ task }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:basic_data' account.instagram_business_account.id account.instagram_business_account.username %}"
                            >
                                Basic data
                            </a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:audience_gender_age' account.instagram_business_account.id %}"
                            >
                                Audience gender/age
                            </a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:audience_country' account.instagram_business_account.id %}"
                            >
                                Audience country
                            </a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:media' account.instagram_business_account.id %}"
                            >
                                Posts (50 recent)
                            </a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:comments' account.instagram_business_account.id %}"
                            >
                                Comments (to 50 recent posts)
                            </a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:impressions' account.instagram_business_account.id %}"
                            >
                                Total impressions by day
                            </a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary"
                               href="{% url 'main:reach' account.instagram_business_account.id %}"
                            >
                                Total reach by day
                            </a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p><a href="{% url "social:begin" "facebook" %}">Login with Facebook</a></p>
    {% endif %}
{% endblock %}