{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}

{% block bootstrap5_title %}
    EAEO
{% endblock %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}